@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">**Welcome to The Coffee Shop**
                          ******************************
    </h1> <br /> <br />
    <p>Please, click "Home" to continue! <br /> <br />
        <a href="/products/index">Home</a> 
    </p>
</div>
