@model Products;
@{
    ViewData["Title"] = "Detail";
}


<h1>Product Detail</h1>

Product Id: @Model.Id <br />
Name: @Model.Name     <br />
Description: @Model.Description  <br />
Price: $@Model.Price <br />
Category: @Model.Category <br />



